*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* colors americana blue #0477b4 red #d9534f */
body {
  background: #e0c9a6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393535;
}
.nav-vis {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8ddc4;
}
.nav-vis > h1 {
  font-family: monospace;
  letter-spacing: 0.15rem;
  line-height: 2rem;
  margin: 1rem 0 0 0.5rem;
  font-size: 2rem;
  text-shadow: 0 0 5px 0 #333;
  z-index: 12;
}
.nav-vis > button {
  margin: 0.5rem 1rem 0 0;
}
.search-container {
  display: flex;
  top: 5%;
  margin: 1rem;
}
.search-container > input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 0 2px 0 #1e1967;
}
.search-container > button {
  width: 200px;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff8e8;
  background-color: #3b3b6d;
  box-shadow: 0 0 1px 0 #1e1967;
}
.ql-toolbar {
  height: min-content;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #f7eace;
}
.text-editor {
}
.ql-container {
  width: 100%;

  outline: none;
  border: none;
}
.ql-container.ql-snow {
  border: none;
}
.ql-editor.ql-blank {
  height: 200px;
  padding-left: 20px;
  margin: 0.5rem;
  font-size: 12px;
  font-family: monospace;
  box-shadow: inset 0 0 8px 0 #5b360fe9;
  background: #fff8e8;
  resize: vertical;
}
.return-word-searched {
  padding: 10px;
}
.rhyme-container {
  margin: 0.5rem;
  padding: 1rem;
  height: 40vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff8e8;
  font-size: 0.75rem;
}
.rhyme-container > h3 {
  font-family: monospace;
}
.links {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100px;
  background: #cf3732;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-page-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.song-page-nav > li {
  text-align: center;
  width: 100px;
  margin: 12px;
}
.song-page-nav > li > a {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  border-radius: 100%;
  background: #3b3b6d;
  text-decoration: none;
  color: #f0e7d2;
  font-weight: 600;
  font-size: 1.25rem;
}
.recording-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recording-container {
  margin: 2.5rem 1rem;
  padding: 10rem;
  width: 80vw;
  height: 80vw;
  max-height: 450px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #cf3732;
  border-radius: 100%;
}
.recording-container > button {
  height: 4rem;
  width: 4rem;
  background: #3b3b6d;
  border-radius: 12px;
}
.nav-links-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.nav-links > li {
  list-style-type: none;
}
.nav-links > li > a {
  text-decoration: none;
  color: #1e1967;
}
