*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* colors americana blue #0477b4 red #d9534f */
body {
  background: #faefd6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #393535;
}
.search-section {
  padding: 1rem;
  border: 0.1rem solid #333;
  background: #d6cfbd;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  width: 100%;
}
.search-container > input {
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 3px 0 0 3px;
  background-color: #fff8e8;
  /* box-shadow: 0 0 2px 0 #1e1967; */
}
.search-container > button {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff8e8;
  background-color: #3b3b6d;
  /* box-shadow: 0 0 1px 0 #1e1967; */
}
.editor-page {
  margin: 1rem;
}
.above-editor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem;
}
.title-text {
  height: 2rem;
  width: 60%;
  padding: 0 12px;
  font-size: 1rem;
  font-display: bold;
  background: #e0cfab;
  border: none;
  outline: none;
}
.save-button {
  height: 2rem;
  width: 30%;
  background: #dd5752;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  outline: none;
}
.text-editor-container {
  outline: none;
  border: none;
  padding: 1rem 0;
}

.text-editor {
  height: 400px;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  font-family: monospace;
  box-shadow: inset 0 0 5px 0 #5b360fe9;
  background: #fff8e8;
  resize: vertical;
  outline: none;
}
.return-word-searched {
  padding: 10px;
}
.rhyme-container {
  padding: 1rem;
  min-height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #fff8e8;
  box-shadow: inset 0 0 1px 0 #5b360fe9;
  font-size: 0.75rem;
}
.rhyme-container > h3 {
  font-family: monospace;
}

.song-page-nav > li {
  text-align: center;
  width: 70px;
  list-style-type: none;
}
.song-page-nav > li > a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10%;
  background: #3b3b6d;
  text-decoration: none;
  color: #d6cfbd;
  font-weight: 600;
  font-size: 1.25rem;
}

.recording-container {
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b6d;
}
audio {
  margin: 0.5rem;
}
audio::-webkit-media-controls-panel {
  background: #cf3732;
  border-radius: 0;
}

.recording-controls > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.recording-controls > button > label {
  font-size: 1rem;
}
.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #dd5752, #da4b46, #dd5752);
  padding: 1rem;
}
.logo-link {
  text-decoration: none;
  color: #333;
  text-shadow: 0 0 5px 0 #333;
  color: #fff8e8;
  text-shadow: 1px 1px 2px #333;
}
.nav-links {
}
.nav-links > li {
  list-style-type: none;
}
.list-link > a {
  text-decoration: none;
  color: #fff8e8;
}
.songbook-container {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 10px;
}
.songbook-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  width: 200px;
  height: 200px;
  text-decoration: none;
  color: #282f46;
  border: 3px solid #9d998f93;
}
@media screen and (max-width: 800px) {
  .songbook-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .songbook-container > a {
    font-size: 2rem;
    width: 100%;
    height: 200px;
    margin: 0.75rem 0;
  }
}
